* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #232323;
}

span {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    padding: 8px 15px;
    margin: 8px 4px;
    border-radius: 10px;
    background: linear-gradient(180deg,#282828,#202020);
    box-shadow: inset -8px 0 8px rgba(0, 0, 0, 0.15), inset 0 -8px 8px rgba(0, 0, 0, 0.25) , 0 0 0 2px rgba(0, 0, 0, 0.75), 10px 20px 25px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

span::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 4px;
    bottom: 14px;
    right: 12px;
    background: linear-gradient(90deg,#232323,#4a4a4a);
    border-radius: 10px;
    box-shadow: -10px -10px 10px rgba(255, 255, 255, 0.25), 10px 5px 10px rgba(0, 0, 0, 0.15);
    border-left: 1px solid #0004;
    border-bottom: 1px solid #0004;
    border-top: 1px solid #0009;
}

.esc, .fn {
    width: 80px;
    height: 65px;
}

.sp1 {
    width: 80px;
    height: 65px;
    box-shadow: none;
    background: none;
}

.sp1::before {
    background: none;
    box-shadow: none;
    border: none;
}

.sp2 {
    width: 36px;
    height: 65px;
    box-shadow: none;
    background: none;
}

.sp2::before {
    background: none;
    box-shadow: none;
    border: none;
}

.sp3 {
    width: 15px;
    height: 65px;
    padding: 0px;
    box-shadow: none;
    background: none;
}

.sp3::before {
    background: none;
    box-shadow: none;
    border: none;
}

.sp4 {
    width: 80px;
    height: 80px;
    padding: 0px;
    box-shadow: none;
    background: none;
}

.sp4::before {
    background: none;
    box-shadow: none;
    border: none;
}

.zero {
    width: 175px;
    height: 80px;
}

.back {
    width: 185px;
    height: 80px;
}

.tab {
    width: 140px;
    height: 80px;
}

.ext {
    width: 125px;
    height: 80px;
}

.caps {
    width: 170px;
    height: 80px;
}

.return {
    width: 190px;
    height: 80px;
}

.shift {
    width: 208px;
    height: 80px;
}

.right-shift {
    width: 250px;
    height: 80px;
}

.ctrl {
    width: 105px;
    height: 80px;
}

.win {
    width: 105px;
    height: 80px;
}

.alt {
    width: 105px;
    height: 80px;
}

.space {
    width: 590px;
    height: 80px;
}

.plus {
    width: 80px;
    height: 180px;
    position: absolute;
    right: 270px;
}

.right-return {
    width: 80px;
    height: 180px;
    position: absolute;
    right: 270px;
}

span i {
    position: relative;
    color: #fff;
    font-style: normal;
    font-size: 1.3em;
}

